* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background: #f6f6f6;
}
.header {
    padding: 30px;
    text-align: center;
    background: white;
}



.img {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

/* sidenav */
.page-wrap {
    overflow-x: hidden;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 26px;
}

.page-content {
    position: relative;
    z-index: 0;
    margin-top: 10px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
}

.toggle {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
    font-size: 35px;
    color: black;
    z-index: 1;
}

.toggle:hover {
    color: rgb(179, 2, 35);
}

.sidebar {
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: -260px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
    width: 200px;
    padding: 10px 40px 10px 10px;
    background-color: #283043;
    z-index: 0;
}

.sidebar li{
    color: rgba(255, 255, 255, 0.8);
    font-family: "Arial", sans-serif;
    font-size: 1px;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    list-style: none;
}



.sidebar li:hover {
    color: white;
}

#side {
    display: none;
}

#side:checked+.page-wrap .sidebar {
    transform: translateX(260px);
}

#side:checked+.page-wrap .sidebar li {
    font-size: 16px;
}

#side:checked+.page-wrap .page-content {
    transform: translateX(260px);
}

#activated {
    color: #fff;
    display: flex;
    box-shadow: 2px 2px 30px #101520;
    border-radius: 3px;
}



/* Main Body Right side card */

.card {
    margin-left: 90px;
    width: 25%;
    height: 200px;
    background-color: #f39c12;
    display: inline-block;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card1 {
    margin-left: 90px;
    width: 30%;
    height: 200px;
    background-color: #f56954;
    display: inline-block;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card2 {
    margin-left: 90px;
    width: 25%;
    height: 200px;
    background-color: #00a65a;
    display: inline-block;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card3 {
    margin-left: 7px;
    width: 99%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card4 {
    margin-left: 7px;
    width: 99%;
    height: 600px;
    background-image: url('images/home_banner_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card5 {
    margin-left: 90px;
    width: 18%;
    height: 200px;
    background-color: white;
    display: inline-block;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.card6 {
    margin-left: 70px;
    width: 18%;
    height: 200px;
    background-color: white;
    display: inline-block;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.card7 {
    margin-left: 70px;
    width: 18%;
    height: 200px;
    background-color: white;
    display: inline-block;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.card8 {
    margin-left: 70px;
    width: 18%;
    height: 200px;
    background-color: white;
    display: inline-block;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.card9 {
    margin-left: 430px;
    width: 18%;
    height: 200px;
    background-color: white;
    display: inline-block;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card10 {
    margin-left: 70px;
    width: 18%;
    height: 200px;
    background-color: white;
    display: inline-block;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 38px;
    text-shadow: 1px 1px black;
    font-weight: bold;
    white-space: nowrap;
    padding: 0;
    color: #fff;
}


.des {
    margin-top: 7px;
    padding: 3px;
    text-align: left;
    padding-top: 10px;
}

.para {
    padding: 3px;
    font-family: sans-serif, cursive;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px black;
    text-align: left;
    margin-left: 20px;
}

.para_banner {
    padding: 3px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 80px;
    text-shadow: 1px 1px black;
    text-align: center;
    margin-top: 200px;
}

.para_banner_2 {
    padding: 3px;
    font-family: sans-serif, cursive;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px black;
    text-align: center;
    margin-top: 50px;
}

.para_banner_3 {
    padding: 3px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
    text-shadow: 2px 1px black;
    text-align: center;
    margin-top: 20px;
}

.para_banner_4 {
    padding: 3px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 35px;
    text-shadow: 1px 1px black;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.para_banner_5 {
    padding: 3px;
    font-family: sans-serif, cursive;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px black;
    text-align: center;
    margin-bottom: 10px;
}

.para_banner_6 {
    padding: 3px;
    font-family: sans-serif, cursive;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.para_card5 {
    padding: 3px;
    font-family: sans-serif, cursive;
    color: purple;
    font-size: 20px;
    text-shadow: 1px 1px black;
    text-align: center;
}

.button {
    position: relative;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: inline;
    border: transparent;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    width: 100%;
    margin-top: 40px;
    margin-right: 15px;
}

.button:hover,
:focus {
    background-color: #9c640a;
    color: white;
    transition: .3s;
    cursor: pointer;
}


.button1 {
    position: relative;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: inline;
    border: transparent;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    width: 100%;
    margin-top: 40px;
    margin-right: 15px;
}

.button1:hover,
:focus {
    background-color: #d04a35;
    color: white;
    transition: .3s;
    cursor: pointer;
}


.button2 {
    position: relative;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: inline;
    border: transparent;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    width: 100%;
    margin-top: 40px;
    margin-right: 15px;
}

.button2:hover,
:focus {
    background-color: #085834;
    color: white;
    transition: .3s;
    cursor: pointer;
}

.button3 {
    background: #adc927;
    color: #fff;
    text-align: center;
    margin: 0 12px;
    padding: 8px 26px;
    line-height: normal;
    font-weight: 500;
    text-transform: none!important;
    position: relative;
    z-index: 1;
    display: inline-block;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    border: 2px solid#fff;
    border-radius: 20px;
    margin-bottom: 50px;
}

.button3:hover,
:focus {
    background-color: #05a55d;
    color: white;
    transition: .3s;
    cursor: pointer;
}

.line {
    border-bottom: 1px solid black;
    margin-top: 7px;
    margin-left: 15px;
    width: 90%;
}

.line2 {
    border-bottom: 5px solid purple;
    margin-top: 7px;
    margin-left: 390px;
    width: 50%;
}

.line3 {
    border-bottom: 2px solid #adc927;
    margin-right: 60px;
    margin-bottom: 30px;
    width: 100%;
}

.desc {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 19px;
    text-align: center;
}



/* Footer */

.footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #283043;
    background-image: url('images/footer.png');
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
    color: white;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
    color: white;
    font-size: larger;
    text-decoration: underline;
}

.footer address {
    font-style: normal;
    color: white;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgba(231, 229, 229, 0.306);
    border-radius: 100px;
    color: white;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-left: 700px;
}

.nav__ul a {
    color: white;
}

.legal {
    margin-left: 30%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}